---
import Layout from '@layouts/Layout.astro'
import OpenGraph from '@components/OpenGraph.astro'

import Hero from './_index/HeroSection.astro'
import ParallaxSection from "./_index/ParallaxSection.astro";
import SliderSection from "./_index/SliderSection.astro";
import Footer from "../components/ui/Footer.astro";

const options = {
  title: 'AWS Community Day Bolivia 2025',
  description: 'Participa en AWS Community Day Bolivia 2025: charlas, talleres y labs sobre la nube AWS. Aprende con expertos y conecta con la comunidad tech.'
}
---

<Layout options={options}>
  <OpenGraph
    description={options.description}
    image="/og/og.jpg"
    slot="social-media"
    title={options.title}
  />

	<main>
    <Hero />
    <ParallaxSection />
    <SliderSection />
    <Footer />
  </main>
</Layout>
