---
import ClickToScroll from '@components/ui/ClickToScroll.astro'
import Countdown from '@components/ui/Countdown.astro'
import logo from '@images/assets/awscd-bo-logo.png'
import { Picture } from 'astro:assets'
---
<style>
  .hero-container {
    justify-content: center;
    align-items: center;
    gap: 56px;
    min-height: 100dvh;
    padding-top: 8rem;
    position: relative;

    & .hero-description {
      text-align: center;

      & h1 {
        margin: 12px;
      }

      & h3 {
        font-weight: 300;
        margin: 0;
      }
    }
  }
</style>

<section class="container hero-container">
  <Picture
    alt="AWSCD Bolivia Logo"
    class="logo"
    fetchpriority="high"
    formats={['avif', 'webp']}
    height={122}
    loading="eager"
    src={logo}
    width={600}
  />

  <article class="hero-description">
    <h1>20 de Septiembre 2025 - Cochabamba</h1>
    <h3>¡No te pierdas la 2da Edición del AWS Community Day Bolivia!</h3>
  </article>

  <Countdown targetDate="2025-09-20T08:00:00" />

  <ClickToScroll
    href="#como-participar"
    label="Como puedo participar"
  />
</section>
