---
import { Picture } from 'astro:assets'
import venueImg from '@images/assets/home_venue.png'
import Button from '../../components/ui/Button.astro'

const { title, address} = Astro.props;
---

<style>
  .venue-container {
    display: flex;
    flex-direction: row;
    color: white;
    padding-inline: 32px;
    width: 100%;
    max-width: 1536px;
    margin: auto;
    gap: 2rem;
  }

  .venue-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    & .title {
      font-size: 3rem;
      font-weight: 300;
      line-height: normal;
      margin: 0;
    }

    & .subtitle {
      font-size: 1.25rem;
      color: #A3A3A3;
      margin: 0;
    }

    & a {
      width: fit-content;
    }

    & .venue-img {
      border-radius: 12px;
      width: 100%;
      height: auto;
      max-height: 250px;
      object-fit: cover;
      border: 1px solid #ffffff22;
    }
  }

  .venue-right {
    display: flex;
    align-items: flex-end;
    width: 50%;

    & iframe {
      width: 100%;
      height: 80%;
      max-width: 100%;
      max-height: 100%;
      border-radius: var(--rounded-md);
    }
  }

  @media (width <= 768px) {
    .venue-container {
      flex-direction: column-reverse;
    }

    .venue-left {
      width: 100%;
    }

    .venue-right {
      width: 100%;
      height: 300px;

      & iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
</style>

<div class="venue-container" id="venue">
  <div class="venue-left">
    <div>
      <p class="title">{title}</h2>
      <p class="subtitle">{address}</p>
    </div>
    
    <Button
      class="cta-btn"
      component='a'
      href='https://cba.ucb.edu.bo/'
      variant='outlined'
    >
      Mas información
    </Button>

    <Picture
        alt="Venue location"
        fetchpriority="high"
        formats={["avif", "webp"]}
        height={200}
        loading="eager"
        src={venueImg}
        width={550}
      />
  </div>

  <div class="venue-right">
    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-66.14551126956941%2C-17.37319713608944%2C-66.14197075366975%2C-17.37085998091337&amp;layer=mapnik&amp;marker=-17.372028562229545%2C-66.14374101161957"></iframe>
  </div>
</div>
